video{
padding-right: 16px;
top: 0;
width: 100%;
height: 100%;
object-fit: cover;
position: fixed;
justify-content: center; 
 margin-left: 50vw; 
 transform: translate(-50%);
 
 z-index: -1;
}

a {
	position: relative;	
	left: 20px;
	top: 20px;
	margin: 5px;
	border: 20px solid;
	border-radius: 10px 20px;
	border-color: #EFE0D1;
	background-color: #EFE0D1;
	width: 20%;
	height: 70%;
	font-family: AGCrownStyle, Georgia, Serif;
	color: rgba(10, 10, 10, 0.7);
	font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
  background-color: #FAF6F1;
  border-color:#FAF6F1;
}

p {
	position: relative;	
	left: 55%;
	top: 350px;
	margin: 5px;
	border: 20px solid;
	border-radius: 10px 20px;
	border-color: #EFE0D1;
	background-color: #EFE0D1;
	width: 20%;
	height: 70%;
	font-family: AGCrownStyle, Georgia, Serif;
	color: rgba(10, 10, 10, 1.0);
	font-weight: bold;
    font-size: 18pt;
}

input[type=text], select, textarea {
  font-family: AGCrownStyle, Georgia, Serif;
  font-size: 11pt;
  background: rgba(255, 248, 240, 0.8);
  width: 50%; 
  padding: 12px; 
  border: 5px solid rgba(273, 230, 217, 0.4); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 4px; 
  resize: vertical;
}


input[type=submit] {
  position: relative;
  left: 100px;
  bottom: 40px;
  font-family: AGCrownStyle, Georgia, Serif;
  font-size: 16pt;
  color: rgba(10, 10, 10, 0.7);
  font-weight: bold;
  background-color: rgba(239, 224, 209, 1.0);
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}

input[type=submit]:hover {
  background-color: #FAF6F1;
  transform: scale(1.15);
}

textarea{
	height:200px;
}

.container {
	position: relative;
	width: 50%; 
	left: 400px;
	top: 100px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 20px;
}

@media (max-width: 676px) {
.container {
	width: 90%;
	left: 0%;
	top: 250px;

}

input[type=text], select, textarea {
width: 100%;
font-size: 12pt;
height:100px;
}

p {
	position: relative;	
	left: 0%;
	top: 150px;
	width: 90%;
	height: 70%;
}

input[type=submit] {
  top: 5px;
  font-size: 12pt;
}

textarea{
	height:200px;
}
	}
